@if(cartData()){

<section class="my-4 px-4 md:px-[2rem] lg:px-[5rem] xl:px-[15rem]">
  <nav class="flex py-2 text-lg" aria-label="Breadcrumb">
    <ol
      class="capitalize inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
    >
      <li routerlink="/home" class="inline-flex items-center">
        <a
          class="capitalize cursor-pointer inline-flex items-center font-medium text-gray-800 transition-all duration-300 text-xl hover:text-[#35AFA0]"
        >
          <svg
            class="w-3 h-3 me-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
            />
          </svg>
          home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <a class="capitalize ms-1 font-medium text-gray-800 md:ms-2">cart</a>
        </div>
      </li>
      <li aria-current="page"></li>
    </ol>
  </nav>

  <div class="products-in-cart shadow pb-3 p-4 shadow-cyan-500 rounded-lg">
    <h1 class="text-black capitalize text-4xl pt-3 font-extrabold text-center">
      Shop <span class="capitalize text-[#35AFA0]"> Basket</span> Cart
    </h1>

    <div class="grid grid-cols-6 gap-5">
      <div class="col-span-4 grid-cols-2 max-md:col-span-6 order-2 md:order-1">
        @if ( cartData().totalCartPrice){ @for (prod of cartData().products;
        track $index) {
        <div
          class="grid mb-1 border-b-[1px] max-sm:grid-cols-1 gap-2 md:grid-cols-[10%_minmax(0,1fr)]"
        >
          <div>
            <img
              [src]="prod.product.imageCover"
              class="mx-auto md:h-[120px] w-full sm:object-contain max-sm:w-1/2"
              [alt]="prod.product.title"
            />
          </div>
          <div
            class="flex justify-between flex-wrap max-sm:flex-col items-center"
          >
            <div class="max-sm:text-center my-2">
              <h3 class="font-medium text-gray-900 text-wrap">
                {{ prod.product.title.split(" ", 3).join(" ") }}
              </h3>
              <span class="text-lg text-green-700">
                price : {{ prod.price | currency : "GBP" }}
              </span>
              <span class="block text-lg text-red-700 font-serif">
                Total price :
                {{
                  prod.count * prod.price + prod.count * prod.price * 0.15
                    | currency : "GBP"
                }}
              </span>
            </div>
            <div class="items-center flex max-sm:flex-col gap-2 mb-2">
              <div class="mx-3 md:text-xl items-center gap-2 flex">
                <div
                  class="w-full flex justify-between bg-white border border-gray-200 items-center overflow-hidden rounded-full font-medium text-2xl capitalize text-gray-900"
                >
                  <button
                    (click)="
                      updateCartQuantity(
                        prod.count <= 0 ? prod.count : prod.count - 1,
                        prod.product._id
                      )
                    "
                    class="cursor-pointer w-[30%] py-1 px-4 bg-gray-100 hover:text-yellow-400 hover:bg-gray-200 transition-all duration-400"
                  >
                    -
                  </button>
                  <span class="block text-center py-1 px-4 w-[40%]">{{
                    prod.count
                  }}</span>
                  <button
                    (click)="
                      updateCartQuantity(prod.count + 1, prod.product._id)
                    "
                    class="cursor-pointer w-[30%] py-1 px-4 bg-[#ffcd00] hover:text-white hover:bg-yellow-400 transition-all duration-400"
                  >
                    +
                  </button>
                </div>
              </div>
              <button
                [swal]="{
                  title:
                    'are You Sure  Do you want to Delete this Item form your Cart',
                  showCancelButton: true
                }"
                (confirm)="removeProduct(prod.product._id)"
                class="cursor-pointer block border mx-2 px-3 py-2 hover:bg-red-600 duration-500 bg-red-700 rounded-lg text-white"
              >
                <i class="fas fa fa-trash-can"></i>
                Remove
              </button>
            </div>
          </div>
        </div>
        }

        <button
          [swal]="{
            title: 'are You Sure to Delete All Cart  Items',
            showCancelButton: true
          }"
          (confirm)="clearrCart()"
          class="cursor-pointer max-sm:w-[90%] sm:w-[40%] capitalize my-4 px-3 py-3 mx-auto block hover:text-white font-medium hover:bg-red-800 rounded-lg bg-red-600 text-gray-800 bg-opacity-95 border-b-2 duration-500"
        >
          clear cart
        </button>

        } @else{
        <div class="border mt-4 rounded-lg">
          <h1
            class="text-slate-900 mt-5 font-semibold text-center text-xl dark:text-slate-900 capitalize"
          >
            your cart is empty put some product in cart and check out
          </h1>
          <img
            src="/images/3780056.webp"
            class="my-3 w-[50%] mx-auto object-contain"
            alt="no item in cart "
          />
        </div>
        }
      </div>
      <div class="col-span-2 max-md:col-span-6 order-1 md:order-2 my-4">
        <div class="border border-black rounded-lg p-4 bg-[#F0FAFF] capitalize">
          <div>
            <h3 class="text-2xl my-2 font-bold">Invoice Total summary</h3>
            <ul
              class="text-lg text-center flex flex-col gap-2 font-medium p-3 border-[1px] rounded-t-lg border-gray-200"
            >
              <li class="flex justify-between items-center">
                <span>items total price</span>
                <span>
                  {{
                    cartData().totalCartPrice + cartData().totalCartPrice * 0.15
                      | currency : "GBP"
                  }}</span
                >
              </li>
              <li class="flex justify-between items-center">
                <span
                  >discount
                  <span class="text-xl font-bold text-red-700"
                    >: 15%</span
                  ></span
                >
                <span>
                  {{
                    cartData().totalCartPrice * 0.15 | currency : "GBP"
                  }}</span
                >
              </li>
            </ul>
            <h3
              class="text-lg text-center font-semibold text-red-700 rounded-b py-2 border-t-0 border-[1px] border-gray-200"
            >
              <span class="text-gray-900 font-semibold text-xl"
                >Total Card Price :</span
              >{{ cartData().totalCartPrice | currency : "GBP" }}
            </h3>
          </div>
          <button
            [disabled]="!cartitemnumber()"
            [routerLink]="['/checkout', cartData()._id]"
            class="text-xl flex capitalize py-2 flex disabled:bg-gray-500 justify-center text-white items-center rounded-lg my-2 w-full w-[30%] font-medium font-mediem hover:bg-green-600 bg-green-700 duration-500"
          >
            go to CheckOut
          </button>
          <p class="text-gray-500 text-sm">
            by placing your order you agree to the baskets
            <span class="text-[#35AFA0] cursor-pointer">
              terms of services</span
            >
            and
            <span class="text-[#35AFA0] cursor-pointer"> privacy policy.</span>
          </p>

          <form>
            <label
              for="code"
              class="capitalize text-lg text-gray-900 font-bold my-4"
            >
              Add promo code or gift card
            </label>
            <input
              type="number"
              name="code"
              placeholder="promo or gift card..."
              id="code"
              class="w-full border mt-3 border border-gray-300 bg-gray-200 p-2 rounded-lg"
            />
            <button
              type="button"
              class="w-full border my-3 hover:bg-[#35AFA0] transition-all duration-400 border-[#35AFA0] p-2 rounded-lg"
            >
              Redeem
            </button>
            <p class="text-gray-600 font-medium text-sm">
              terms &conditions apply
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
}
