<div class="bg-[#35AFA0] pt-10">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-[90%] lg:w-[70%] mx-auto">
    <div class="text-white p-4">
      <p class="text-[13px] text-white/75">$20 discount for your first order</p>
      <h2 class="text-[26px]">Join our newsletter and get...</h2>
      <p class="text-[13px] text-white/75 mt-5">
        Join our email subscription now to get updates
      </p>
      <p class="text-[13px] text-white/75 mb-7">on promotions and coupons.</p>
      <div class="relative w-full max-w-sm">
        <span
          class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500"
          ><i class="fa-solid fa-envelope"></i
        ></span>
        <button
          class="absolute inset-y-0 right-0 flex items-center px-3 text-white bg-[#35AFA0] m-1 rounded"
        >
          subscribe
        </button>
        <input
          type="text"
          placeholder="your email addres"
          class="pl-10 pr-10 py-3 w-full border rounded outline-yellow-300 focus:outline-none focus:ring-2"
        />
      </div>
    </div>

    <div>
      <img
        src="/imgs/imgfoo.png"
        alt="footer image"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-[90%] lg:w-[70%] mx-auto gap-4 py-6 text-center"
>
  <p class="border-l border-gray-400 pl-6">
    <img class="inline mr-2" src="/imgs/Vector.png" alt="" /> Everyday fresh
    products
  </p>
  <p class="border-l border-gray-400 pl-6">
    <img class="inline mr-2" src="/imgs/Icon.png" alt="" /> Free delivery for
    order over $70
  </p>
  <p class="border-l border-gray-400 pl-6">
    <img class="inline mr-2" src="/imgs/Icon (1).png" alt="" /> Daily Mega
    Discounts
  </p>
  <p class="border-l border-gray-400 pl-6">
    <img class="inline mr-2" src="/imgs/Icon (2).png" alt="" /> Best price on
    the market
  </p>
</div>
<hr
  class="w-[90%] lg:w-[70%] mx-auto mt-14 bg-gray-300 border-none h-[1px] col-span-4"
/>

<div
  class="text-center lg:text-left grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 w-[90%] lg:w-[70%] mx-auto py-20"
>
  <div class="text-[#71778E]">
    <h2 class="text-black mb-5 font-semibold dosis-font">Fruit & Vegetables</h2>
    <p>Fresh Vegetables</p>
    <p>Herbs & Seasonings</p>
    <p>Fresh Fruits</p>
    <p>Cuts & Sprouts</p>
    <p>Exotic Fruits & Veggies</p>
    <p>Packaged Produce</p>
    <p>Party Trays</p>
  </div>
  <div class="text-[#71778E]">
    <h2 class="text-black mb-5 font-semibold dosis-font">Breakfast & Dairy</h2>
    <p>Milk & Flavoured Milk</p>
    <p>Butter and Margarine</p>
    <p>Cheese</p>
    <p>Eggs Substitutes</p>
    <p>Honey</p>
    <p>Marmalades</p>
    <p>Sour Cream and Dips</p>
    <p>Yogurt</p>
  </div>
  <div class="text-[#71778E]">
    <h2 class="text-black mb-5 font-semibold dosis-font">Meat & Seafood</h2>
    <p>Breakfast Sausage</p>
    <p>Dinner Sausage</p>
    <p>Beef</p>
    <p>Chicken</p>
    <p>Sliced Deli Meat</p>
    <p>Shrimp</p>
    <p>Wild Caught Fillets</p>
    <p>Crab and Shellfish</p>
    <p>Farm Raised Fillets</p>
  </div>
  <div class="text-[#71778E]">
    <h2 class="text-black mb-5 font-semibold dosis-font">Beverages</h2>
    <p>Water</p>
    <p>Sparkling Water</p>
    <p>Soda & Pop</p>
    <p>Coffee</p>
    <p>Milk & Plant-Based Milk</p>
    <p>Tea & Kombucha</p>
    <p>Drink Boxes & Pouches</p>
    <p>Craft Beer</p>
    <p>Wine</p>
  </div>
  <div class="text-[#71778E]">
    <h2 class="text-black mb-5 font-semibold dosis-font">Breads & Bakery</h2>
    <p>Milk & Flavoured Milk</p>
    <p>Butter and Margarine</p>
    <p>Cheese</p>
    <p>Eggs Substitutes</p>
    <p>Honey</p>
    <p>Marmalades</p>
    <p>Sour Cream and Dips</p>
    <p>Yogurt</p>
  </div>
</div>

<div class="bg-white">
  <div class="grid grid-cols-1 md:grid-cols-2 w-[90%] lg:w-[75%] mx-auto">
    <div class="flex items-center mx-auto lg:mx-0 gap-4 p-6">
      <div
        class="border border-1 border-gray-400 w-10 h-10 rounded-full flex justify-center items-center"
      >
        <i class="fa-solid fa-phone-volume"></i>
      </div>
      <div>
        <h3 class="text-xl font-semibold">8 800 555-55</h3>
        <p class="text-[12px] text-[#71778E]">Working 8:00 - 22:00</p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row items-center gap-y-4 gap-1 p-6">
      <div>
        <p class="font-semibold">Download App on Mobile :</p>
        <p class="text-[12px] text-[#71778E]">
          15% discount on your first purchase
        </p>
      </div>
      <img
        src="/imgs/563c6840345c1787c82604eb06cf57004ac76231.png"
        alt="google play"
      />
      <img
        src="/imgs/8ccafd7b932f62a83df39bab9ca724d6963c2a7f.png"
        alt="app store"
      />

      <div class="flex gap-2">
        <div
          class="border border-1 border-gray-400 w-10 h-10 rounded-full flex justify-center items-center"
        >
          <i class="text-[#233A95] fa-brands fa-facebook"></i>
        </div>
        <div
          class="border border-1 border-gray-400 w-10 h-10 rounded-full flex justify-center items-center"
        >
          <i class="text-[#233A95] fa-brands fa-instagram"></i>
        </div>
        <div
          class="border border-1 border-gray-400 w-10 h-10 rounded-full flex justify-center items-center"
        >
          <i class="text-[#233A95] fa-brands fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>

  <hr
    class="w-[90%] lg:w-[75%] mx-auto my-10 bg-gray-400 border-none h-[1px]"
  />

  <div
    class="text-center lg:text-left py-6 grid grid-cols-1 lg:grid-cols-2 w-[90%] lg:w-[75%] mx-auto"
  >
    <p class="text-[12px] text-[#71778E]">
      Copyright 2025 © All rights reserved by Blackrise Theme ReDesigned by
      <span class="text-red-500 font-semibold"> kareemFarouh</span>
    </p>

    <div class="flex flex-col lg:flex-row items-center gap-y-4 gap-1">
      <p class="text-[12px] text-[#71778E]">
        Privacy Policy
        <span class="text-red-500 font-semibold">&#64; KAFO_O7 </span
        ><span class="mx-1">Terms and Conditions</span> Cookie
      </p>

      <img
        src="/imgs/77a1df6c72b6fab1752c8524e5b797574cada6b9.png"
        alt=" payment"
      />
    </div>
  </div>
</div>
