section .head h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}

section .head .prag {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}
section .cart .cart1 {
  border: 1px #f3f3f6 solid;
  border-radius: 7px;
  flex-direction: column;
}

section .cart .cart1 i {
  font-size: 24px;
}
section .cart .cart1 h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0%;
}

section .cart .cart1 p {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
}

section .container .contact-body .contact-head h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}

section .container .contact-body .contact-head p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}
