<div class="">
  <owl-carousel-o class="relative" [options]="customOptions">
    <ng-template carouselSlide>
      <img
        src="/images/1.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/2.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/3.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/4.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/cat.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/dawa.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="/images/mobile.avif"
        class="object-contain"
        loading="lazy"
        alt="bacola"
      />
    </ng-template>
  </owl-carousel-o>
</div>
