@if(products()){
<div class="md:px-[4rem] lg:px-[10rem] xl:px-[13rem] px-4">
  <div class="min-h-[21.875rem]">
    <owl-carousel-o class="relative" [options]="customOptions">
      @for (product of products(); track product._id) {
      <ng-template carouselSlide>
        <div
          class="card p-3 flex flex-col gap-[1.25rem]shadow shadow-gray-300 m-1 shadow hover:shadow-lg transition-all duration-600 hover:shadow-green-400"
        >
          <div class="card-img-top group relative cursor-pointer">
            <div
              class="absolute flex justify-end items-start top-0 end-0 opacity-0 group-hover:opacity-100 duration-400 transition-all bottom-0 z-[100]"
            >
              <img src="/imgs/eye.gif" class="size-10 mx-auto" alt="view" />
            </div>
            <img
              [src]="product.imageCover"
              class="w-full object-cover"
              [alt]="product.title"
              loading="lazy"
            />
            <span
              class="absolute top-0 left-0 bg-[#35AFA0] text-white text-xs font-bold px-3 py-1 rounded"
            >
              15%
            </span>
          </div>
          <div class="card-body">
            <h4 class="card-text font-semibold text-sm mb-1 text-[#35AFA0]">
              {{ product.title.split(" ", 3).join(" ") }}
            </h4>
            <!-- <p class="card-text h-[2.5rem] font-semibold text-sm line-clamp-2">
              {{ product.description }}
            </p>
            <span class="text-[#00b853] font-semibold uppercase text-xs">{{
              product.quantity + " In stock"
            }}</span> -->
            <div class="star-review flex items-center my-2">
              @for (star of [1,2,3,4,5]; track $index) {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
                class="w-4 h-4 text-[#ffcd00]"
              >
                <path
                  d="M10 15.27l-5.18 2.73 1-5.82L1 7.24l6-.87L10 1l3 5.37 6 .87-4.82 4.94 1 5.82L10 15.27z"
                />
              </svg>
              }
              <span class="text-xs ms-2 text-gray-500 font-semibold"
                >{{ product.ratingsQuantity }} review</span
              >
            </div>
            <div class="discount text-xs flex items-center gap-2 my-2 relative">
              <span class="text-gray-400 font-semibold line-through"
                >$ {{ product.price * 1.25 }}</span
              >
              <span class="text-red-600 text-lg font-semibold"
                >$ {{ product.price }}
              </span>
            </div>
          </div>
          <app-addbtn [productid]="product._id"></app-addbtn>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>

}
