<div class="relative">
  <app-navbar></app-navbar>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <span
    [class.hidden]="hide"
    (click)="toTop()"
    class="block rounded-t-md w-[3rem] hover:bg-green-800 z-[999999] transition-all duration-300 h-[3rem] bg-green-600 flex justify-center items-center fixed bottom-[1rem] right-[1rem]"
  >
    <i class="text-white fa-solid fa-angle-up"></i
  ></span>
</div>
<ngx-spinner type="ball-scale-multiple" bdColor="rgba(0, 0, 0, 0.8)">
  <img src="/Link - Bacola Store.png" class="object-cover" alt="" />
</ngx-spinner>
